<h2>contact</h2>

   

<table class="table table-bordered border-dark table-md">
    <thead>
        <tr style="text-align: center;">
            <th>name</th>
            <th>email</th>
            <th>mobile</th>
            <th>action</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td><%= contact.mobile %></td>
            <td><a class="btn btn-danger" onclick="return confirm('yakin nich')" href="/contact/delete/<%= contact.name %>">jpus</a></td>
            <td><a class="btn btn-danger" href="/contact/form-edit/<%= contact.name %>">jpus</a></td>
        </tr>
    </tbody>
    </table>
